<ion-header>
  <ion-toolbar>
    <ion-title>
      Mobile Development App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" class="ion-margin" (click)="getPicture()">Take or Get Photo</ion-button>
  <img [src]="selectedImage?.webPath"/>
  <ion-button *ngIf="selectedImage" (click)="share()" expand="block" class="ion-margin">Share via Social Media</ion-button>
  <div class="container">
    <p>Lat: {{lat}}, Lng: {{lng}}</p>
    <ion-button (click)="whereIam()">Locate me!</ion-button>
  </div>
</ion-content>
